.ui__input__container {
  width: 100%;
  height: fit-content;
  .ui__input {
    & > div {
      outline: none !important;
    }

    & label {
      font-family: $montserrat, "sans-serif";
      font-weight: $bold;
      font-size: 11px;
    }

    & div {
      &:focus {
        outline: 1px solid $primary-color !important;
      }
    }

    & div > input {
      padding: 14px !important;
      font-family: $montserrat, "sans-serif";
      font-size: 14px;
      background: $lightGrey;
    }
  }

  .input__label {
    color: $darkGrey;
    font-weight: $bold;

    &::before {
      content: "";
      padding-top: 15px;
      width: 100%;
      display: block;
    }
  }

  .ui__input__label__container {
    margin: 5px 0;
  }
}

.ui__header,
.content__header {
  color: $grey;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: $bold;
  padding-left: 7px;
}

.ui__header {
  position: absolute;
  margin: 0;
  font-size: $h1Size;
}

.task__item,
.create__item__card {
  box-shadow: $box-shadow !important;
  margin: 8px;
  border-radius: 10px;
}

.task__list {
  font-weight: $bold;
  color: $darkGrey;
}

.task__title {
  color: $grey;
}

.task__item {
  padding: 10px;
  max-height: 90px;

  .task__item__button__text {
    @include flexSpacing(column, flex-start);
    align-items: flex-start;
  }

  & p {
    margin: 5px 0;
    font-size: 12px;
  }

  .task__action__buttons__container {
    @include flexSpacing(row, flex-start);
    padding-left: 0;
    margin: 0;

    & > li {
      list-style: none;
      padding: 5px;
      margin-right: 5px;
      width: 27px;
      height: 27px;
      border: 2px solid $grey;
      border-radius: 50%;
      cursor: pointer;
      @include flexCenter(column);
    }

    & svg {
      color: $grey;
    }
  }

  .task__expired {
    color: $red;
    text-decoration: line-through;
  }

  .task__completed {
    color: $primary-color;
    text-decoration: line-through;
  }

  .task__todo {
    color: $grey;
  }

  .complete__icon {
    &.complete__active {
      border: 2px solid $primary_color;
      & > svg {
        color: $primary_color;
      }
    }

    &:hover {
      border: 2px solid $primary_color;
      @include hoverTransition(border);
    }
    & > svg:hover {
      color: $primary_color;
      @include hoverTransition(color);
    }
  }
  .incomplete__icon {
    &.incomplete__active {
      border: 2px solid $red;
      & > svg {
        color: $red;
      }
    }

    &:hover {
      border: 2px solid $red;
      @include hoverTransition(border);
    }
    & > svg:hover {
      color: $red;
      @include hoverTransition(color);
    }
  }

  .edit__icon {
    &:hover {
      border: 2px solid $black;
      @include hoverTransition(border);
    }
    & > svg:hover {
      color: $black;
      @include hoverTransition(color);
    }
  }

  .delete__icon {
    &:hover {
      border: 2px solid $red;
      opacity: 0.5;
      @include hoverTransition(border);
    }

    & > svg:hover {
      color: $red;
      opacity: 0.9;
      @include hoverTransition(color);
    }
  }
}

.ui__alert {
  position: absolute;
  width: 95%;
  left: 50%;
  top: 7%;
  transform: translate(-50%);
  font-family: $montserrat !important;
  font-weight: $bold !important;
  color: $darkGrey !important;
  z-index: 10000;

  & div > svg {
    color: $primary-color !important;
  }
}
