.create__item__container {
  position: relative;
  .create__item__card {
    padding: 18px;
    border-radius: 6px;
  }

  .create__list__form .create__input__container {
    min-height: 100px;
  }

  .create__input__container {
    @include flexCenter(column);
    min-height: 200px;
    height: fit-content;
    justify-content: space-around;
    padding-bottom: 20px;
  }

  .submit__button {
    background: $primary-color;
    color: $white;
    font-family: $montserrat, "sans-serif";
    font-weight: $bold;

    &:hover {
      background: $primary-color;
      opacity: 0.9;
    }
  }
}
