body {
  font-family: $montserrat, "sans-serif";
  position: relative;
  left: 0;
  top: 0;
  margin: 0;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.content__container::-webkit-scrollbar {
  display: none;
}

.app__container {
  height: 100vh;
  background: $lightGrey;
}

.content__container {
  padding: 15px;
  overflow-y: auto;
  position: relative;
  height: 89%;
}

.content__wrapper {
  position: relative;
  top: 6%;
}

.delete__account__action {
  font-size: 15px;
  position: absolute;
  bottom: 3%;
  right: 8%;

  & button {
    background: transparent;
    border: none;
    color: $darkGrey;
    font-weight: $bold;
    cursor: pointer;
    font-family: $montserrat, "sans-serif";
  }
}

.task__container {
  margin-top: 20px;
}
