@media only screen and (min-width: 1920px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (max-width: 1571px) {
}

@media only screen and (max-width: 1191px) {
}

@media only screen and (min-width: 700px) {
  .mobile__icon_container {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .app__content {
    @include gridLayout(1fr 2fr);
  }

  .content__container {
    position: absolute;
    top: 0;
    left: 27%;
    width: fill-available;
    max-width: 68%;
    height: fit-content;
    padding: 45px;
  }

  .lg__screen__menu {
    display: block;
  }

  .main__header {
    font-size: 30px;
    margin-top: -13px;
  }

  .mobile__menu {
    display: none;
  }

  .nav__bar {
    width: 28%;
    height: 14%;
    padding: 20px;
    .logo .logo__text {
      font-size: 36px;
    }
  }

  .task__item {
    @include flexSpacing(row, space-between);
  }

  .navigation {
    width: 28%;
    height: 86%;

    top: 14.1%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 2px 8px rgba(0, 0, 0, 0.05);

    .nav__list__container {
      @include flexLeftCenter(column);
      padding: 20px;

      .nav__item {
        padding: 15px 0;
      }

      .icon__link__container {
        .delete__button {
          display: inline;
          margin-left: 7px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1256px) {
  .navigation,
  .nav__bar {
    width: 25%;
  }

  .content__container {
    left: 25%;
  }
}

@media only screen and (min-width: 1490px) {
  .navigation,
  .nav__bar {
    width: 22%;
  }

  .content__container {
    left: 22%;
    max-width: 76.5%;
    height: 97vh;
    padding: 100px 10% 0 100px;
  }
}

@media only screen and (max-width: 980px) {
}

@media only screen and (max-width: 768px) {
}
