@media only screen and (min-width: 700px) {
  .mobile__icon_container {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .ui__alert {
    top: 0%;
  }
  .app__content {
    @include gridLayout(1fr 2fr);
  }

  .ui__header {
    left: 50%;
    transform: translate(-50%);
    font-size: 27px;
  }

  .content__container {
    position: absolute;
    top: 0;
    left: 27%;
    width: stretch;
    max-width: 71%;
    height: 95%;
    padding: 45px;
  }

  .navigation__menu {
    display: block;
  }

  .main__header {
    font-size: 30px;
    margin-top: -13px;
  }

  .mobile__menu {
    display: none;
  }

  .nav__bar {
    width: 28%;
    height: 12%;
    padding: 20px;
    .logo .logo__text {
      font-size: 32px;
    }
  }

  .task__item {
    @include flexSpacing(row, space-between);

    .task__item__button__text {
      width: 74%;
      justify-content: flex-start;
      flex-direction: row;
    }
    .task__action__buttons__container {
      margin-right: 15px;
    }
  }

  .navigation {
    width: 28%;
    height: 86%;

    top: 12.1%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 2px 8px rgba(0, 0, 0, 0.05);

    .nav__list__container {
      @include flexLeftCenter(column);
      padding: 20px;

      .nav__item {
        padding: 13px 0;
      }

      .icon__link__container {
        .delete__button {
          display: inline;
          margin-left: 7px;
        }
      }
    }
  }
  .create__item__container .create__item__card {
    padding: 30px;
  }
}

@media only screen and (min-width: 1256px) {
  .ui__alert {
    width: 45%;
  }

  .setting__registration__container {
    display: flex;
    width: 100%;
    justify-content: space-around;

    & > div {
      width: 100%;
      margin: 10px;
    }
  }

  .navigation,
  .nav__bar {
    width: 25%;
  }

  .content__container {
    left: 25%;
  }

  .create__item__container .create__item__card {
    padding: 65px;
  }
}

@media only screen and (min-width: 1490px) {
  .navigation,
  .nav__bar {
    width: 16%;
  }

  .ui__input__container {
    margin: 10px;
  }

  .nav__bar .logo .logo__text {
    font-size: 30px;
  }

  .navigation .nav__list__container {
    padding: 27px;
  }

  .create__item__container .create__item__card {
    padding: 26px;
  }
}

@media only screen and (min-width: 1024px) {
  .create__item__container {
    .create__input__container {
      flex-direction: row;
    }

    .ui__input__container {
      margin: 10px;
    }
  }

  .ui__header {
    font-size: 28px;
  }
}
