.nav__bar {
  width: 100%;
  box-shadow: $box-shadow;
  padding: 10px 15px;
  @include flexSpacing(row, space-between);
  background: $white;
  z-index: 100;
  height: $navHeight;

  .logo {
    @include flexCenter(column);
    cursor: pointer;

    .logo__text {
      color: $primary-color;
      font-weight: $bold;
      margin: 0;
      font-size: 25px;
      letter-spacing: 1px;
    }
  }

  .mobile__menu__icon {
    font-size: 30px;
    color: $primary-color;
    cursor: pointer;
  }
}

.menu__text,
.navigation__menu {
  display: none;
}

.navigation {
  position: absolute;
  left: 0;
  height: 100% - $navHeight;
  width: 100vw;
  background: $white;
  top: $navHeight - 4%;
  z-index: 100;

  &.mobile__menu::before {
    content: "";
    display: block;
    height: $divider;
    box-shadow: $box-shadow;
  }

  .nav__list__container {
    @include flexCenter(column);
    height: fit-content;
    margin: 0;
    padding: 15px;

    .nav__item {
      list-style: none;
      font-weight: $bold;
      color: $darkGrey;
      padding: 10px 0;
      cursor: pointer;
      letter-spacing: 0.6px;

      & > span {
        font-size: 15px;
      }
    }

    .icon__link__container {
      @include flexCenter(row);

      & > svg {
        margin-right: 5px;
        color: $grey;
        cursor: pointer;
      }

      .delete__button {
        display: none;
      }
    }
  }
}
