$green: #4bc18b;
$grey: #999;
$white: #fff;

$x-bold: 800;
$bold: 700;
$medium: 500;
$regular: 400;
$light: 100;
$semi-bold: 600;

$poppins: Poppins;
$lato: Lato;
$roboto: Roboto;
$open-sans: Open-Sans;
$montserrat: Montserrat;
